* {
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

.initial-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.initial-page-icon {
  height: 62px;
  width: 62px;
  margin-bottom: 30px;
}

.initial-page-text {
  width: 210px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}
